<div class="subscript_item">
    <h3><%-name%></h3>
    <div class="button_group_subscript">
        <button type="button" class="watch">Watch</button>
        <button type="button" class="unsubscribe">Unsubscribe</button>
    </div>
</div>
