<a href="#" id="touch_menu">Menu</a>
<nav>
    <ul class="nav clearfix">
        <li><a href="" class="page_user">My page</a></li>
        <li><a href="" class="page_news">News</a></li>
        <li><a href="" class="page_subscription">My subscriptions</a></li>
        <li id="sign_in"><a href="" class="sign_in">Sign in</a></li>
        <li id="sign_out"><a href="" class="sign_out">Sign out</a></li>
        <li><a href="" class="search" title="Search">&#128269;</a></li>
        <li class="search-form">
            <span>
                <input type="text" placeholder="User name..." id="search-text">
                <button id="do-search">Find</button>
            </span>
        </li>
    </ul>
</nav>