<div class="user_page">
    <h1>Welcome, <%-User%>!</h1><hr>
    <div class="add_post">
        <div class="next">
            <textarea class="next_message" placeholder="Enter your message..."></textarea><br/>
        </div>
        <button type="button" class="button_add_post">Add post</button>
    </div>
    <div class="user_posts">
    </div>
</div>
