
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Login</h1>
        <form id="auth_form" autocomplete="off">
            <div class="input-container">
                <input type="text" id="Username" required="required">
                <label for="Username">Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Password" required="required"/>
                <label for="Password">Password</label>
                <div class="bar"></div>
                <div class="wrong_answer_auth"></div>
            </div>
            <div class="button-container">
                <button><span>Sign in</span></button>
            </div>
        </form>
    </div>
    <div class="card alt">
        <div class="toggle"></div>
        <h1 class="title">Register
            <div class="close"></div>
        </h1>
        <form id="reg_form" autocomplete="off">
            <div class="input-container">
                <input type="text" id="Username-new" required="required"/>
                <label for="Username-new">Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Password-new" required="required"/>
                <label for="Password-new">Password</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Repeat_Password" required="required"/>
                <label for="Repeat_Password">Repeat Password</label>
                <div class="bar"></div>
                <div class="wrong_answer_reg"></div>
            </div>
            <div class="button-container">
                <button><span>Sign-up</span></button>
            </div>
        </form>
    </div>

    <div id="overlay"></div>