<!--<div class="news_item">-->
    <div class="item_title">
        <div class="news_name"><%-name%></div>
        <div class="button_group">
            <span class="share" data-title="share">&#8644;</span>
            <span class="heart" data-title="like">&#10084;</span>
            <span class="likes_count"><%-likes_count%></span>
        </div>
    </div>
    <div class="item_description">
        <%-description%>
    </div>
<!--</div>-->