<div class="auth_error">
    <h1>Упс! Похоже вы не авторизованы...</h1>
    <div class="sad-face">&#128561;</div>
</div>
<div class="auth_offer">
    <h1>Может авторизуешься или зарегистрируешься?</h1>
    <div class="cute-face">&#9786;</div>
</div>